
* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
}

main {
  font-size: 16px;
}

.hide {
  display: none;
}

button {
  font-size: 17px;
  background: black;
  color: white;
  margin: 10px;
  padding: 5px 15px;
}

/* ***** HEADER ***** */

header {
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.sub-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  clear: both;
  margin-bottom: 12px;
}

.app-description {
  font-size: 20px;
  margin: 5px;
}

/* ***** INDEX.HTML ****** */
.login-pg {
  background: none;
  margin: 20px;
}

header .logout-area {
  float: right;
}

header .logout-area button {
  font-size: 12px;
}

.about {
  width: 80%;
  margin: 45px auto;
  font-size: 18px;
  border: 1px solid gray;
  padding: 20px;
  line-height: 25px;
}

.about p {
  text-align: center;
}

.registration-buttons {
  text-align: center;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.popup-content fieldset {
  border: 1px solid pink;
  font-family: 'Montserrat', sans-serif;
}

.sign-in-area {
  background: white;
}

.sign-in-area form {
  margin: 15px;
}

.sign-in-area label{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.sign-in-area input {
  margin: 7px 0;
  height: 30px;
  border: 1px solid black;
}

.logout-area {
  text-align: center;
}

.demo-info {
  font-weight: bold;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #ededed;
}

/* ******** NAV MENU *********** */

#site-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.show-nav #site-canvas {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
}

/* ### MENU STYLES ### */

#site-menu {
  width: 90vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  background: #cc919a;
  color: #f5f5f5;
}

.site-menu-content {
  width: 100%;
  max-width: 760px;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Roboto Slab', sans-serif;
}

#site-menu i {
  color: #231F20;
  font-size: 2em;
}

#site-menu a {
  text-decoration: none;
  color: rgba(35, 31, 32, 0.25);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#site-menu a:hover {
  color: #f4f4f4;
}

#site-menu h2 {
  font-size: 25px;
  text-align: left;
  clear: both;
  color: white;
  cursor: pointer;
}

#site-menu h2:hover {
  color: black;
}

a {
  text-decoration: none;
  color: rgba(86, 178, 171, 0.5);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

a:hover {
  color: rgb(86, 178, 171);
}

.content {
  width: 90%;
  margin: 0px auto;
}

i {
  font-size: 2em;
  color: darkgray;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.nav-icon {
  display: block;
  text-align: left;
  padding: 5px;
}

.nav-icon:hover {
  color: rgb(86, 178, 171);
}

/* ****** MAKEUP.HTML ****** */

#site-canvas .logo {
  cursor: pointer;
}

.content h2 {
  text-align: center;
  font-size: 25px;
}

/* *** HOMEPAGE BUTTONS ** */

.homepage-buttons {
  padding-left: 0;
  padding-right: 0;
}
.homepage-buttons button {
  margin: 0;
  height: 200px;
  font-size: 25px;
  font-style: italic;
}

.homepage-buttons button:hover {
  background: #ffb6c1;
  color: black;
}

/* *** FORMS *** */

#create-look-form {
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid darkgray;
}

#create-look-form legend{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.steps, .products, .skintype, .colorthemes {
  padding-top: 25px;
}

#create-look-form label {
  font-weight: bold;
  text-transform: uppercase;
}

.image-upload {
  height: 150px;
  width: 150px;
  background: lightgray;
  border: none;
  font-size: 10px;
}

form {
  font-size: 16px;
}

input {
  height: 25px;
  margin: 15px 0;
  border: 1px solid gray;
  height: 25px;
  margin: 15px 0;
  border: 1px solid gray;
  font-size: 18px;
  width: 80%;
}

.add-step,
.add-product,
.add-colortheme {
  margin: 5px 0;
  padding: 2px 5px;
  font-size: 12px;
  box-shadow: none;
}

.delete-field {
  display: inline;
  padding: 2px 4px;
  margin: 0;
}

#select-skintype, #edit-select-skintype {
  display: block;
  margin: 16px 0;
  height: 30px;
  border: 1px solid gray;
  font-size: 17px;
  background: black;
  color: white;
}

.submit-look-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/* *** MODAL *** */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.look-info ul {
  list-style-type: none;
}

.look-info img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.look-info h4 {
  font-weight: bold;
}

.look-info p {
  padding-left: 40px;
}

.submit-cancel-buttons, .edit-delete-buttons {
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* *** THUMBNAILS *** */

.thumbnail {
  text-align: center;
}

.thumbnail-content {
  margin: 10px;
  padding: 5px;
}

.thumbnail-img {
  background-size: cover;
  height: 200px;
  width: 200px;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.thumbnail-content div {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 640px) {
nav {
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
  -moz-box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
  box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
}

.nav-menu {
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 5px 50px;
  margin: 0;
  font-size: 20px;
}

.nav-item a {
  color: black;
  text-decoration: none;
}
}