
* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.95;
}

body {
  background: white;
  margin: 40px;
}

.login-pg {
  background: none;
  margin: 20px;
}

header {
  text-align: center;
}

.login-pg .logo {
  margin: 0;
  width: 60%;
}

.sub-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.app-description {
  font-size: 20px;
  margin: 5px;
}

.sign-in-forms {
  background: white;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 10px;
  margin: 25px 10px;
}

.sign-in-forms form {
  margin: 15px;
}

.sign-in-forms label{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.sign-in-forms input {
  margin: 7px 0;
  height: 30px;
}

.hide {
  display: none;
}

.link-to-app {
  font-size:12px;
}

.demo-account {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.demo-btn {
  border: 1px solid black;
  background: none;
  margin-left: 5px;
}

main {
  font-size: 16px;
}

/* ******** NAV MENU *********** */

#site-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.show-nav #site-canvas {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
}

/* ### MENU STYLES ### */

#site-menu {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  background: #56B2AB;
  color: #f5f5f5;
}

.site-menu-content {
  width: 100%;
  max-width: 760px;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Roboto Slab', sans-serif;
}

#site-menu i {
  color: #231F20;
  font-size: 2em;
}

#site-menu a {
  text-decoration: none;
  color: rgba(35, 31, 32, 0.25);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#site-menu a:hover {
  color: #f4f4f4;
}

h2 {
  font-size: 55px;
  text-align: center;
}

/* ### GENERAL CONTENT STYLES ### */
/* 
h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.25em;
} */

/* p {
  font-size: 1.25em;
} */

a {
  text-decoration: none;
  color: rgba(86, 178, 171, 0.5);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

a:hover {
  color: rgb(86, 178, 171);
}

.content {
  width: 90%;
  max-width: 760px;
  margin: 0px auto;
  padding: 20px;
}

i {
  font-size: 2em;
  color: darkgray;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.nav-icon {
  display: block;
  text-align: left;
  padding: 5px;
}

.nav-icon:hover {
  color: rgb(86, 178, 171);
}

/* ******** NAV MENU END *********** */

.logo {
  width: 95%;
  margin: 15px;
}

#create-look-form {
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  /* background-image: linear-gradient(-225deg, #E3FDF5 28%, #FFE6FA 57%); */
  border: 1px solid darkgray;
}

form {
  font-size: 16px;
}

input {
  height: 20px;
  margin: 15px 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.add-link {
  background: lightgray;
  padding: 3px;
  border-radius: 5px;
}

.delete-field {
  display: inline;
}

#select-skintype {
  display: block;
  margin: 5px 0;
  height: 20px;
}

.submit-look-btn {
  display: block;
  margin: 5px 0;
  height: 20px;
}

.thumbnail-img {
  height: 200px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
nav {
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
  -moz-box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
  box-shadow: 2px 2px 23px -7px rgba(138,133,138,1);
}

.nav-menu {
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 5px 50px;
  margin: 0;
  font-size: 20px;
}

.nav-item a {
  color: black;
  text-decoration: none;
}
}